div.question {
    border: 1px solid black;
    padding: 5px;
}

div#controlButtons { margin: 3px; }

div#controlButtons input { margin: 3px; }

span#questionNumbers { margin: 0; padding: 0; }
span#questionNumbers input { width: 2em; }
span#questionNumbers input.answered { background-color: yellow; }
span#questionNumbers input:disabled {
    color: blue;
    font-weight: bold;
}

.hidden { display: none; }

table.bordered { border-collapse: collapse; }
table.bordered  { border: 1px solid black; }
table.bordered tr td, table.bordered tr th { border: 1px solid black; }

div#checkAnswers table tr.correct { background-color: #40FF40; }
div#checkAnswers table tr.wrong { background-color: #FF8080; }
