div.question {
    border: 1px solid black;
    padding: 5px;
}

div.question ul li { list-style: none; }

div.sortable { overflow: hidden; }
div.sortable ul { margin: 6px; padding: 6px; float: left; }
div.sortable ul li { margin: 6px; padding: 0.4em; }

ul.sortableList { width: 350px; min-height: 45px; background-color: #E7E7E7; }
ul.sortableList li { width: 325px; background-color: #D6D6D6; border: 1px solid black; }
ul.sortableList li.removable { background-color: #FFE4E1; border: 1px solid red; }

div.arrow { font-size: 100px; float: left; font-weight: bold; }

div.code { margin: 3px 0 2px 15px; }
div.code code { display: inline-block; padding: 4px; border: 1px dotted #6060F0; }

div#controlButtons { margin: 3px; }

div#controlButtons input { margin: 3px; }

span#questionNumbers { margin: 0; padding: 0; }
span#questionNumbers input { width: 2em; padding: 0; margin: 0; }
span#questionNumbers input.answered { background-color: yellow; }
span#questionNumbers input:disabled {
    color: blue;
    font-weight: bold;
}

.hidden { display: none; }

table.bordered { border-collapse: collapse; }
table.bordered  { border: 1px solid black; }
table.bordered tr td, table.bordered tr th { border: 1px solid black; }

div#checkAnswers table tr.correct { background-color: #40FF40; }
div#checkAnswers table tr.wrong { background-color: #FF8080; }
